.signin h1, .signin label{
  color: white;
}

.signin__container__wrapper__input>div{
  margin: 10px;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-color: white !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  color: white !important;
}