.toggleBtn {
    width: 4vw;
    height:100vh;
    border: 2px solid black;
}

.commentsBox {
    display: flex;
    background-color: silver;
}

.toggleBtnIn.Mui-selected {
    width: 2em;
    height:100vh;
}

// each comment has a comment block and comment or selectedComment depending on selected or not

.commentBlock {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}

.comment {
    background-color: rgb(211, 211, 211);
}

.comment:hover {
    background-color: rgba(75, 75, 75, 0.2);
}

.selectedComment {
    background-color: rgba(60, 60, 60, 0.5);
}

.commentContent {
    padding-left: 2vw;
}